body{
    padding: 0;
    margin: 0;
}
/* heading and navbar */
#headline{
    border: 2px solid goldenrod;
}

/* main container */
.container{
    border: 2px  solid black;
    position: absolute;
    top:12vw; left:20vw;
    border-radius: 2vw;
}

.yolo{
    width:55vw;
    display: grid;
    grid-template-rows: 4vw 20vw 8vw;
}

span{
    border:2px solid black;
    border-radius: 2vw;
    text-align: center;
}

.word{
    padding-top: 0.5vw;
    font-size: xx-large;
}

#here{
    padding-top: 4.5vw;
    font-size: 25px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#generator {
    padding-top: 2.5vw;
    cursor: pointer;
    font-size: 25px;}

#pjoke{
    border: 2px solid black;
    display: inline;
    padding: 1vw 1vw;
    border-radius: 3vw;
    box-shadow: 0.2rem 0.3rem 1rem  #252525;
}